@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: Inter;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

header {
    background-color: #EDF1D6;
}
h1{
    font-weight: 500;
}

h2{
    font-weight: 300;
}
#header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    
    
}


#canvas {
    width: 1366px;
    height: 768px;
    margin: auto auto;
    border-radius: 50px;
    background-color: #606C5D;
}

.settings-container {
    margin: 0;
    background-color: #fff8e9;
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    margin-left: 15vw;
    margin-right:15vw;
}

.modes-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1em;
    align-content: center;
}

h3 {
    margin-left: 1em;
    margin-bottom: 0;
}

.modes {
    display: flex;
    flex-direction: row;
}

.indicator {
    margin: 1em;
    color: lightgray;
}

.indicator.active {
    color: blue;
}
